<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming Art & Craft</title>
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&family=Lobster+Two&family=Source+Code+Pro:wght@500;700&display=swap" rel="stylesheet">
</head>
<div style="font-family: 'Source Code Pro', sans-serif; font-size: 100%; line-height: 1; display: flex; justify-content: center; align-items: center; height: 100vh; background: #f1f1f1;">
    <div class="container">
        <div class="poster" style="text-align: center; background: #114084; padding: 0 2rem; height: 100vh; display: flex; align-items: center; color: #aadef7;">
            <p class="quote">
                <span class="part heading" style="margin: 0.5em 0; display: block; font-weight: 700; text-transform: capitalize; line-height: 1.2;" data-splitting>
                    Programming
                </span>
                <span class="part art" style="margin: 0.5em 0; display: block; font-weight: 700; text-transform: capitalize; line-height: 1.2;">
                    <em style="font-family: 'Lobster Two', cursive; letter-spacing: 5px;">Art</em> of Algorithm Design
                </span>
                <span class="part craft" style="margin: 0.5em 0; display: block; font-weight: 700; text-transform: capitalize; line-height: 1.2;">
                    <em style="font-family: 'Electrolize', sans-serif; letter-spacing: 2px;">Craft</em> of Debugging Errant Code
                </span>
            </p>
        </div>
    </div>
    <script src="https://unpkg.com/splitting/dist/splitting.min.js"></script>
    <script>
        Splitting();
    </script>
</div>
</html>
