<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Stylish Tab Bar for Mobile</title>
</head>
<body style="
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
  background: #9EA6FF;">
  <nav class="nav" style="
    background-color: #191919; 
    width: 30em; 
    height: 8em; 
    border-radius: 2em; 
    padding: 0 2em; 
    box-shadow: 0 1em 1em rgba(0, 0, 0, .2); 
    display: flex; 
    align-items: center; 
    position: relative; 
    overflow: hidden;">
    <ul class="nav__links" style="
      width: 100%; 
      display: flex; 
      justify-content: space-between; 
      padding: 0; 
      margin: 0; 
      list-style: none;">
      <li class="nav__link active" style="display: inline-block;">
        <a href="#" style="color: #fff; font-size: 2.5rem; opacity: 1;">
          <i class='bx bx-home-alt-2' style="
            color: #00f7ff;
            text-shadow: 0 0 15px #00f7ff, 0 0 30px #00f7ff, 0 0 45px #00f7ff, 0 0 60px #00f7ff;"></i>
        </a>
      </li>
      <li class="nav__link" style="display: inline-block;">
        <a href="#" style="color: #fff; font-size: 2.5rem; opacity: 0.5;">
          <i class='bx bx-heart' style="
            color: #ff0000;
            text-shadow: 0 0 15px #ff0000, 0 0 30px #ff0000, 0 0 45px #ff0000, 0 0 60px #ff0000;"></i>
        </a>
      </li>
      <li class="nav__link" style="display: inline-block;">
        <a href="#" style="color: #fff; font-size: 2.5rem; opacity: 0.5;">
          <i class='bx bx-plus-circle' style="
            color: #adff2f;
            text-shadow: 0 0 15px #adff2f, 0 0 30px #adff2f, 0 0 45px #adff2f, 0 0 60px #adff2f;"></i>
        </a>
      </li>
      <li class="nav__link" style="display: inline-block;">
        <a href="#" style="color: #fff; font-size: 2.5rem; opacity: 0.5;">
          <i class='bx bx-user' style="
            color: #ee82ee;
            text-shadow: 0 0 15px #ee82ee, 0 0 30px #ee82ee, 0 0 45px #ee82ee, 0 0 60px #ee82ee;"></i>
        </a>
      </li>
      <li class="nav__link" style="display: inline-block;">
        <a href="#" style="color: #fff; font-size: 2.5rem; opacity: 0.5;">
          <i class='bx bx-bell' style="
            color: #ffff00;
            text-shadow: 0 0 15px #ffff00, 0 0 30px #ffff00, 0 0 45px #ffff00, 0 0 60px #ffff00;"></i>
        </a>
      </li>
      <div class="nav__light" style="
        position: absolute; 
        top: 0; 
        left: 1.3em; 
        background-color: #fff; 
        width: 4em; 
        height: .4em; 
        border-radius: 2px; 
        display: flex; 
        justify-content: center; 
        transition: .3s ease;
      ">
        <div style="
          content: ''; 
          width: 5em; 
          height: 7em; 
          position: absolute; 
          top: .4em; 
          background: linear-gradient(to bottom, rgba(255, 255, 255, .3) -50%, rgba(255, 255, 255, 0) 90%); 
          clip-path: polygon(30% 0, 70% 0, 100% 100%, 0% 100%);
        "></div>
      </div>
    </ul>
  </nav>

  <script>
    const links = document.querySelectorAll('.nav__link');
    const light = document.querySelector('.nav__light');

    function moveLight({ offsetLeft, offsetWidth }) {
      light.style.left = `${offsetLeft - offsetWidth / 4}px`;
    }

    function activeLink(linkActive) {
      links.forEach(link => {
        link.classList.remove('active');
        linkActive.classList.add('active');
      });
    }

    links.forEach((link) => {
      link.addEventListener('click', (event) => {
        moveLight(event.currentTarget); // Use currentTarget to refer to the clicked item
        activeLink(link);
      });
    });
  </script>
</body>
</html>
